.image {
  height: 140px;
  width: 100px;
}

.k {
  height: 150px;
  overflow: scroll;
  white-space: initial;

  font-size: 0.85em;
}

.backgroundImg {
  width: 100%;
  height: 175px;
  opacity: 1;
}

.trans {
  opacity: 0.8;
}

ion-chip {
  color: #fff;
  width: 100px;
  text-align: center;
}

.container {
  margin-top: 5px;
  width: 100%;
  text-align: center;
}
