.image {
  height: 140px;
  width: 100px;
}

.k {
  height: 150px;
  overflow: scroll;
  white-space: initial;
  color: #fff;
  font-size: 0.85em;
}

ion-chip {
  color: #fff;
  width: 100px;
  text-align: center;
}

.container {
  width: 100%;
  text-align: center;
}
