<ion-content class="c" color="primary" *ngIf="searched" [fullscreen]="true">
  <ion-card class="searchCard">
    <ion-item *ngFor="let searchedItem of searchset">
      <ion-thumbnail slot="start">
        <img src="{{searchedItem.img}}" />
      </ion-thumbnail>
      <ion-label
        (click)="onClick(searchedItem.title,searchedItem.synopsis,searchedItem.img,searchedItem.episodes)"
        ><h2>{{searchedItem.title}}</h2>

        <ion-chip *ngFor="let searchedIt of genres">
          <ion-label>{{searchedIt}}</ion-label>
        </ion-chip>
      </ion-label>
      <ion-button
        (click)="like(searchedItem.title,searchedItem.synopsis,searchedItem.img)"
        slot="end"
        fill="clear"
      >
        <ion-icon
          id="{{searchedItem.title}}"
          color="danger"
          name="heart-outline"
        ></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
</ion-content>

<ion-content *ngIf="!searched" [fullscreen]="true">
  <iframe
    sandbox="allow-same-origin allow-scripts"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
    width="100%"
    height="230px"
    allowfullscreen
    [src]="vidLink"
  ></iframe>
  <ion-item color="primary" lines="full">
    <ion-label>
      <h1>Movies</h1>
    </ion-label>
    <ion-button fill="clear" (click)="getRecentSeries()" slot="end">
      <ion-icon color="light" name="reload"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item
    (click)="onClick1(movie.episodes)"
    color="primary"
    lines="full"
    *ngFor="let movie of movies"
  >
    <ion-thumbnail>
      <img src="{{movie.img}}" />
    </ion-thumbnail>
    <ion-label>
      <h2 class="k">
        {{movie.otherName}}
      </h2>
      <div class="synopsis">
        <p>{{movie.synopsis}}</p>
      </div>
    </ion-label>
  </ion-item>
</ion-content>
