.chips {
  margin-top: 0px;
}
.sl {
  width: 100%;
}

.popularCard {
  margin: 10px;
}
img {
  height: 100%;
  width: 100%;
}
ion-thumbnail {
  overflow: scroll;
  white-space: initial;
}

ion-list {
  padding: 0px;
}
.searchCard {
  margin-top: 0px;
  border-radius: 0px;
}
.loadSpinner {
  height: 100vh;

  text-align: center;
  flex-direction: column;
}
ion-spinner {
  color: #fff;
  width: 70px;
  height: 70px;
  margin-top: 50%;
}
.card {
  height: 130px;
  width: 100%;
}
.c {
  --background: var(
    --ion-color-medium
  ); // Replace this with color of your choice
}
.tith2 {
  font-size: 1.25em;
}
.logoapp {
  margin: 7px;
  width: 40px;
}
.test1 {
  height: 150px;
  width: 100%;
}

ion-chip {
  height: 30px;
}

ion-searchbar {
  transition: 0.2s ease-in;
  --icon-color: var (--ion-color-primary);
  --box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  ::ng-deep {
    .searchbar-input-container {
      .searchbar-input {
        border-radius: 20px;

        //any style that you want to implement on your searchbar
      }
    }
  }
}

.k {
  overflow: visible;
  white-space: initial;
}

.synopsis {
  line-height: 1.5;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
