<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <img
      (click)="homelogo()"
      slot="start"
      class="logoapp"
      src="/assets/images/animate.svg"
    />

    <ion-searchbar
      animated
      placeholder="Search Animes"
      (ionInput)="filterAnime($event)"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<!-- search Card pasi shtyp search button -->

<ion-content class="c" color="primary" *ngIf="searched" [fullscreen]="true">
  <ion-card class="searchCard">
    <ion-item *ngFor="let searchedItem of searchset">
      <ion-thumbnail slot="start">
        <img src="{{searchedItem.img}}" />
      </ion-thumbnail>
      <ion-label
        (click)="onClick(searchedItem.title,searchedItem.synopsis,searchedItem.img,searchedItem.episodes)"
        ><h2>{{searchedItem.title}}</h2>

        <ion-chip *ngFor="let searchedIt of genres">
          <ion-label>{{searchedIt}}</ion-label>
        </ion-chip>
      </ion-label>
      <ion-button
        (click)="like(searchedItem.title,searchedItem.synopsis,searchedItem.img)"
        slot="end"
        fill="clear"
      >
        <ion-icon
          id="{{searchedItem.title}}"
          color="danger"
          name="heart-outline"
        ></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
</ion-content>

<!-- fillimi i slides se pare -->

<ion-content class="c" *ngIf="!searched">
  <div>
    <ion-item color="primary" class="ion-no-margin" lines="none">
      <ion-label slot="start">
        <h2 class="tith2">Popular Anime</h2>
      </ion-label>
    </ion-item>

    <ion-item color="primary" lines="none">
      <ion-chip color="light">
        <ion-label>TV</ion-label>
      </ion-chip>
      <ion-chip color="light">
        <ion-label>Upcoming</ion-label>
      </ion-chip>
      <ion-chip color="light">
        <ion-label>Airing</ion-label>
      </ion-chip>
      <ion-chip color="light">
        <ion-label>Anime</ion-label>
      </ion-chip>
    </ion-item>

    <ion-slides *ngIf="connectedCard1" color="primary" [options]="slideOpts">
      <ion-slide *ngFor="let popularAnime of popularAnimes">
        <ion-card
          (click)="onClick(popularAnime.title,popularAnime.synopsis,popularAnime.img,popularAnime.episodes)"
          class="test1"
        >
          <img src="{{popularAnime.img}}" />
        </ion-card>
      </ion-slide>
    </ion-slides>

    <!-- fundi i slidit te pare -->

    <!-- skeleton text fillimi -->
    <ion-slides *ngIf="!connectedCard1" color="primary" [options]="slideOpts">
      <ion-slide>
        <ion-card class="test1">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="test1">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="test1">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="test1">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <!-- skeleton text mbarimi -->

    <!-- ongoing Series card -->

    <ion-item color="primary" class="ion-no-margin" lines="none">
      <ion-label slot="start">
        <h2 class="tith2">Ongoing Anime</h2>
      </ion-label>
    </ion-item>

    <ion-slides *ngIf="connectedCard2" [options]="slideOpts">
      <ion-slide *ngFor="let onGoingAnime of onGoing">
        <ion-card
          (click)="onClick(onGoingAnime.title,onGoingAnime.synopsis,onGoingAnime.img,onGoingAnime.episodes)"
          class="test1"
        >
          <img src="{{onGoingAnime.img}}" />
        </ion-card>
      </ion-slide>
    </ion-slides>
    <!-- ongoing card mbarimi -->

    <!-- fillimi skeleton textit -->
    <ion-slides *ngIf="!connectedCard2" color="primary" [options]="slideOpts">
      <ion-slide>
        <ion-card class="test1">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="test1">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="test1">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="test1">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <!-- mbarimi skeleton textit -->

    <ion-item lines="full" color="primary">
      <h1>New Seasons</h1>
    </ion-item>

    <ion-item
      (click)="onClick(movie.title,movie.synopsis,movie.img,movie.episodes)"
      color="dark"
      *ngFor="let movie of movies"
      lines="full"
      color="primary"
    >
      <ion-card class="test2" slot="start">
        <img src="{{movie.img}}" />
      </ion-card>
      <ion-label>
        <h2 class="k">
          {{movie.otherName}}
        </h2>
        <div class="synopsis">
          <p>{{movie.synopsis}}</p>
        </div>
        <div class="k">
          <ion-chip color="light">Year: {{movie.released}}</ion-chip> |
          <ion-chip *ngFor="let mov of genresofMovies" color="light"
            >{{mov}}</ion-chip
          >
        </div>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
