<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title slot="start">
      Browse
    </ion-title>

    <ion-searchbar
      slot="primary"
      animated
      placeholder="Search"
      (ionInput)="filterAnime($event)"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="c" color="primary" *ngIf="searched" [fullscreen]="true">
  <ion-card class="searchCard">
    <ion-item
      (click)="onClick(searchedItem.title,searchedItem.synopsis,searchedItem.img,searchedItem.episodes)"
      *ngFor="let searchedItem of searchset"
    >
      <ion-thumbnail slot="start">
        <img src="{{searchedItem.img}}" />
      </ion-thumbnail>
      <ion-label
        ><h2>{{searchedItem.title}}</h2>
        <ion-chip *ngFor="let searchedIt of genres">
          <ion-label>{{searchedIt}}</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>

<ion-content class="c" *ngIf="!searched">
  <ion-card mode="ios" class="popularCard">
    <ion-item class="ion-no-margin" lines="none">
      <ion-label>
        <h2>Popular Anime</h2>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-chip>
        <ion-label>TV</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Upcoming</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Airing</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Anime</ion-label>
      </ion-chip>
    </ion-item>

    <ion-slides [options]="slideOpts">
      <ion-slide class="sl" *ngFor="let popularAnime of popularAnimes">
        <ion-card no-margin class="card" mode="md">
          <img src="{{popularAnime.img}}" />
          <ion-card-header>
            <ion-card-subtitle>{{popularAnime.otherName}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-item lines="none"> </ion-item>
      </ion-slide>
    </ion-slides>
  </ion-card>
</ion-content>
