<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <img
      (click)="homelogo()"
      slot="start"
      class="logoapp"
      src="/assets/images/animate.svg"
    />

    <ion-searchbar
      animated
      placeholder="Search Animes"
      (ionInput)="filterAnime($event)"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!searched" [fullscreen]="true">
  <ion-item
    class="deleted"
    color="primary"
    *ngFor="let item of bookmarked; let i = index"
  >
    <ion-avatar slot="start">
      <img src="{{item.img}}" />
    </ion-avatar>
    <ion-label>{{item.titulli}}</ion-label>
    <ion-button color="dark" slot="end">Watch</ion-button>
    <ion-button (click)="removeItem(i)" slot="end" fill="clear">
      <ion-icon name="remove-circle" color="danger"></ion-icon>
    </ion-button>
  </ion-item>
</ion-content>

<ion-content class="c" color="primary" *ngIf="searched" [fullscreen]="true">
  <ion-card class="searchCard">
    <ion-item *ngFor="let searchedItem of searchset">
      <ion-thumbnail slot="start">
        <img src="{{searchedItem.img}}" />
      </ion-thumbnail>
      <ion-label
        (click)="onClick(searchedItem.title,searchedItem.synopsis,searchedItem.img,searchedItem.episodes)"
        ><h2>{{searchedItem.title}}</h2>

        <ion-chip *ngFor="let searchedIt of genres">
          <ion-label>{{searchedIt}}</ion-label>
        </ion-chip>
      </ion-label>
      <ion-button
        (click)="like(searchedItem.title,searchedItem.synopsis,searchedItem.img)"
        slot="end"
        fill="clear"
      >
        <ion-icon
          id="{{searchedItem.title}}"
          color="danger"
          name="heart-outline"
        ></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
</ion-content>
