<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kl3jvi.animity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".application.AnimityApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySplash"
        android:usesCleartextTraffic="true">
        <profileable
            android:shell="true"
            tools:targetApi="29" />

        <service
            android:name=".workers.AnimeDownloadService"
            android:exported="false">
            <intent-filter>
                <action android:name="androidx.media3.exoplayer.downloadService.action.RESTART" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.kl3jvi.animity.data.secrets.LibraryInitializer"
                android:value="@string/app_name" />
        </provider>

        <activity
            android:name=".ui.activities.login.LoginActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Animity.NoActionBar">

            <!-- For deep linking. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="animity"
                    android:scheme="login" />
            </intent-filter>

            <!-- The entry point of the app. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.player.PlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:supportsPictureInPicture="true"
            android:theme="@style/VideoPlayer"
            tools:ignore="LockedOrientationActivity"
            tools:targetApi="n" />
        <activity
            android:name=".ui.activities.main.MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="anilist.co"
                    android:pathPattern="/anime/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>