/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.tabs-inner {
  position: unset !important;
  flex: 1;
  contain: layout size style;
}
ion-content {
  --background: var(--ion-color-medium);
}

ion-tab-button {
  transition: 0.2s ease-in;
}

ion-tab-bar {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.tab-selected {
  border-bottom: 4px #1f4068 solid;
  // transition: 0.2s ease-in;
  font-size: 0;
  ion-icon {
    transform: scale(1.3);
    transition: 0.2s ease-in;
  }
}
